@mixin common_background($pad) {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    padding: $pad;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;//linear-gradient(to bottom, white, transparent);

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: 50px;
    }

    @media screen and (max-width: 992px) {
        padding-left: 5%;
    }

    @media screen and (max-width: 768px) {
        padding: unset;
    }
}

hr {
    position: relative;
    width: 100%;
    border-top: 1px solid #adadad;

    &:after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        background-color: red;
        border-radius: 50%;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.4rem;
    > div {
        width: 50%;
        max-width: 550px;
        @include common_background(0 2rem);

        > h2 {
            font-size: 2.4rem;
            text-align: center;
            margin: 0;
            padding-top: 2.5rem;
        }

        > p {
            margin: 0;
        }

        .info_field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 25px;

            > div {
                width: 100%;
            }

            label{
                line-height: 2rem;
            }
            input {
                width: 100%;
                border: none;
                font-weight: 500;
                padding: 15px 20px;
                border-radius: 8px;
                background: #efefef;
                transition: 0.3s all;
                outline: 1px solid transparent;
                &:focus{
                    outline: 1px solid orange;
                }
            }
        }

        button {
            display: flex;
            font-family: sans-serif;
            justify-content: center;
            gap: 10px;
            width: 100%;
            align-items: center;
            padding: 15px 20px;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bold;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: 0.3s all;
            cursor: pointer;
            color: white;
            background: var(--secondary);

            svg {
                font-size: 15px;
            }
            &:hover{
                background-color: rgb(223, 145, 1);
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;

            h6 {
                margin: 0;
            }

            img {
                width: 35px;
            }
        }

        @media screen and (max-width: 992px) {
            width: 90%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.next_main {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        width: 50%;
        max-width: 550px;
        @include common_background(0 2rem);

        .success {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-overflow: ellipsis;

            hr {
                width: 100%;
            }

            h2 {
                color: #1fa91f;
                text-align: center;
                margin: 0;
            }

            > img {
                width: 200px;
            }

            > div {
                padding-top: 4.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                p {
                    margin: 0;
                }

                > div:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex: 1;
                    min-width: 200px;
                }

                > div:last-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > img {
                        width: 50px;
                    }
                }

                @media screen and (max-width: 425px) {
                    align-items: center;
                    justify-content: center;

                    > div {
                        min-width: unset;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        > h2 {
            text-align: center;
            margin: 0;
            font-size: 2.4rem;
            padding-top: 2.5rem;
        }

        > p {
            margin: 0;
        }

        .qrcode {
            height: auto;
            min-height: 100px;
        }

        > span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            width: 100%;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-weight: 500;
                padding: 10px 20px;
                border-radius: 8px;
                transition: 0.3s all;
                outline: 1px solid transparent;
                background: #efefef;

                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;

                    svg {
                        font-size: 25px;
                    }
                }

                p {
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;

            h6 {
                margin: 0;
            }

            img {
                width: 35px;
            }
        }

        @media screen and (max-width: 992px) {
            width: 90%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        @media screen and (max-width: 300px) {
            .qrcode {
                width: 100%;
            }
        }
    }
}
