@import "./common";
@import "./page/index";

.spacer-10 {
    height: 10px;
}
.spacer-20 {
    height: 20px;
}
.spacer-30 {
    height: 30px;
}
.spacer-40 {
    height: 40px;
}
.spacer-50 {
    height: 50px;
}

// style
.spinner {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: #07d;
        border-bottom-color: #07d;
        animation: spinner 1.5s ease infinite;
    }

    @media screen and (max-width: 425px) {
        width: 150px;
        height: 150px;

        &::before {
            width: 150px;
            height: 150px;
        }
    }

    @media screen and (max-width: 270px) {
        width: 50px;
        height: 50px;

        &::before {
            width: 50px;
            height: 50px;
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
